.filter-toggler:link,
.filter-toggler:visited,
.filter-toggler.collapsed:active
{
	text-decoration: underline;
	color: red;
}
.filter-toggler.collapsed:link,
.filter-toggler.collapsed:visited,
.filter-toggler.collapsed:active
{
	color: #404040;
	text-decoration: underline;
}